.App {
  text-align: center;
  background: rgb(208, 208, 208);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
button{

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: rgb(72, 72, 72);
  font-family: sans-serif;
  color: #fff;
  font-size: 1.1rem;
  border:none;
  border-radius: 4px;
  margin: 4px;
  height: 2rem;
}
button:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
