.inicio{
    display: flex;
    background-image: url("https://www.thesprucepets.com/thmb/RIz5xATnm3WzHmlIyWdVUiru4ZU=/3600x2400/filters:fill(auto,1)/strongest-dog-breeds-4799757-hero-3c80a621495740109d5caca02a2e4e31.jpg");
    flex-direction: column;
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
   
    
    padding:0 20px;

}

.text__{
    
   
    color: rgb(240, 149, 45);
    font-weight:700;
    font-size: 5em;
    text-decoration: overline;
    text-shadow: 2px 1px 0 rgb(186, 120, 45);
    
}
.text_2{
   
    
   
    color: rgb(240, 149, 45);
    
    font-size: 3em;
text-decoration: underline;
    text-shadow: 2px 1px 0 rgb(186, 120, 45);
    
}
